<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/home.css" />
		<link
			rel="stylesheet"
			href="../spice-restaurant-free-website-template/css/style.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="../spice-restaurant-free-website-template/materialize/css/materialize.css"
			media="screen,projection"
		/>
		<link href="../spice-restaurant-free-website-template/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/flexslider.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/style.css" rel="stylesheet" />
		<title>Home</title>
	</head>

	<body>
		<div class="test"></div>
	<div id="wrapper" class="home-page"> 
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/"><i class="icon-info-blocks material-icons">location_on</i>food findr</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li class="active"><a class="waves-effect waves-dark" href="/">Home</a></li> 
							<li><a class="waves-effect waves-dark" href="/reservations">Reservations</a></li>
							<li><a class="waves-effect waves-dark" href="/logout">Sign Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
			<section class="dishes">
				<div class="container">
					<div class="col-md-6">
						<div class="aligncenter"><h1 class="aligncenter">Find food near you!</h1>
							<a id="main-button" href="/reservations" type="button">Let's Go!</a></div>	
				</div>
			</div>
			</section> 
			<div id="reservation-history"></div>
	</body> -->
<script src="../server/home.js"></script>
</html>
