<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<!-- <link rel="stylesheet" href="../public/stylesheets/home.css" /> -->
		<link
			rel="stylesheet"
			href="../spice-restaurant-free-website-template/css/style.css"
		/>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="../spice-restaurant-free-website-template/materialize/css/materialize.css"
			media="screen,projection"
		/>
		<link href="../spice-restaurant-free-website-template/css/bootstrap.min.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/fancybox/jquery.fancybox.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/flexslider.css" rel="stylesheet" />
		<link href="../spice-restaurant-free-website-template/css/style.css" rel="stylesheet" />
		<title>Home</title>
	</head>

	<body>
	<div id="wrapper" class="home-page"> 
		<!-- start header -->
		<header>
			<div class="navbar navbar-default navbar-static-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="home.html"><i class="icon-info-blocks material-icons">location_on</i>FOOD findr</a>
					</div>
					<div class="navbar-collapse collapse ">
						<ul class="nav navbar-nav">
							<li class="active"><a class="waves-effect waves-dark" href="home.html">Home</a></li> 
							<li><a class="waves-effect waves-dark" href="reservations.html">Reservations</a></li>
							<li><a class="waves-effect waves-dark" href="reviews.html">Reviews</a></li>
							<li><a class="waves-effect waves-dark" href="profile.html">Profile</a></li>
							<li><a class="waves-effect waves-dark" href="#">Sign Out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>
			<section class="dishes">
				<div class="container">
				 <div class="row">
					<div class="col-md-12">
						<div class="aligncenter"><h2 class="aligncenter">Signature Dishes</h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident, <br/>doloribus omnis minus ovident, doloribus omnis minus temporibus perferendis nesciunt..</div>
						<br/>
					</div>
				</div>
			
			<div class="row service-v1 margin-bottom-40">
					<div class="col-md-4 md-margin-bottom-40">
							<div class="card small">
								<div class="card-image">
									 <img class="img-responsive" src="img/service1.jpg" alt="">  
									<span class="card-title">Cobb Salad</span>
								</div>
								<div class="card-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
								</div>
							</div>        
					</div>
					   <div class="col-md-4 md-margin-bottom-40">
							<div class="card small">
								<div class="card-image">
									 <img class="img-responsive" src="../spice-restaurant-free-website-template/img/service2.jpg" alt="">  
									<span class="card-title">Twinkies</span>
								</div>
								<div class="card-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
								</div>
							</div>        
					</div>
					   <div class="col-md-4 md-margin-bottom-40">
							<div class="card small">
								<div class="card-image">
									 <img class="img-responsive" src="img/service3.jpg" alt="">  
									<span class="card-title">Pot roast</span>
								</div>
								<div class="card-content">
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
									</p>
								</div>
							</div>        
					</div> 
				</div>
				</div>
				</section>
		<!-- <div id="main">
			<h1>Find food near you!</h1>
			<form class="form">
				<input type="text" placeholder=" City/State" />
				<button type="submit">Submit</button>
			</form>
		</div>
		<div id="featured">
			<h1>Featured Restaurants</h1>
		</div> -->
	</body>
</html>
