<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/styles.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

	</head>
	<body>
		<div class="main-container">
			<div class="welcome-container">
			</div>

			<div class="login-container">
				<h1 class="welcome-header">FO🍩D FINDR</h1>
				<p>Let us help you find your next meal! </p>
				<form action="/login" method="post" class="form">
					<input
						type="email"
						class="email"
						placeholder="email"
						id="email"
						name="username"
					/>
					<input
						class="password"
						placeholder="password"
						type="password"
						id="password"
						name="password"
					/>
					<button class="btn" type="submit">Login</button>
				</form>
				<p>Hungry? Sign up
					<a href="/register" class="register-link">here!</a>
				</p>
			</div>
		</div>
	</body>
</html>
