<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/stylesheets/registration.css"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="main-container">
			<div class="welcome-container">
			</div>

			<div class="login-container">
				<form action="/register" method="post" class="form">
					<h1 class="signup">Sign Up</h1>
					<p class="signup-flavortext">You must be really hungry!</p>
					<input
						class="name"
						placeholder="name"
						type="text"
						id="name"
						name="name"
						required
					/>
					<input
						class="email"
						placeholder="email"
						type="email"
						id="email"
						name="email"
						required
					/>
					<input
						class="password"
						placeholder="password"
						type="text"
						id="password"
						name="password"
						required
					/>
					<button class="btn" type="submit">Sign Up</button>
				</form>
				<p>Ready to eat?
					<a href="/login" class="login">Sign In!</a>
				</p>
			</div>
		</div>
	</body>
</html>
