<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" , href="reservations.css" />
		<title>Reservations</title>
	</head>
	<body>
		<div id="navbar">
			<a href="home.html">Home</a>
			<a href="reviews.html">Reviews</a>
			<a href="reservations.html">Reservations</a>
			<a href="profile.html">Profile</a>
		</div>
		<!-- <div id="sidenav"></div> -->
		<div id="displaydiv"></div>
	</body>
	<script src="reservations.js"></script>
	<script src="reservations2.js"></script>
</html>
