<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" , href="reservations.css" />
		<title>Reservations</title>
	</head>
	<body>
		<navbar>
			<div id="navbar">
				<a href="home.html">Home</a>
				<a href="reservations.html">Reservations</a>
				<a href="profile.html">Profile</a>
			</div>
		</navbar>
		<header>
			<h3>Reservations</h3>
			<form method="post" action="/reservation" class="form">
				<input type="date" />
				<input type="time" />
				<select>
					<option value="0">People</option>
					<option value="1">1 person</option>
					<option value="2">2 people</option>
					<option value="3">3 people</option>
					<option value="4">4 people</option>
					<option value="5">5 people</option>
					<option value="6">6 people</option>
					<option value="7">7 people</option>
					<option value="8">8 people</option>
					<option value="9">9 people</option>
					<option value="10">large party</option>
				</select>
				<button type="submit">Find a Table</button>
			</form>
		</header>
		<footer><h1></h1></footer>
	</body>


	<script src="reservations.js"></script>
	<script src="reservations2.js"></script>

</html>
