/* * {
  margin: 2px;
  padding: 2px; */
/* background-image: url("../spice-restaurant-free-website-template/img/photo-1552566626-52f8b828add9.jpeg"); */

#wrapper {
  background: url(https://bit.ly/3vKIovk);
}

.test {
  background: url(https://bit.ly/3vKIovk);
}
/* .navbar-brand {
  display: flexbox;
  margin: 0;
  padding: 0;
  align-items: center;
}

.aligncenter {
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.welcome-container {
  display: grid;
  background: url(https://bit.ly/3nUPJWg) no-repeat center;
  height: 100vh;
}

.welcome-header {
  text-align: center;
}

.login-container {
  display: grid;
  place-items: center;
  height: 50%;
}

.email,
.password {
  height: 2rem;
  width: 12rem;
  margin-bottom: 1rem;
}

.btn {
  height: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.register-link {
  text-decoration: none;
} */
