#reservation-form {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	height: 100px;
	margin-left: 30px;
}

#reservation-form input,
select,
button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	width: 150px;
	height: 30px;
	outline: none;
	border: 1px solid black;
}

h3 {
	margin: 30px;
}

body {
	/* display: grid; */
	height: 100vh;
	/* grid-template-columns: 1fr, 1fr;
	grid-template-rows: 1fr, 1fr;
	grid-template-areas:
		"navbar, navbar"
		"sidebar, displaydiv"; */
}
#navbar {
	height: 10%;
	background-color: coral;
}
/* #sidenav {
	width: 20%;
	height: 85%;
	background-color: burlywood;
} */
#displaydiv {
	width: 100%;
	height: 100%;
	background-color: cadetblue;
}
