<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/stylesheets/home.css" />
		<title>Home</title>
	</head>
	<header id="navbar">
		<div id="nav1">
			<a href="home.html">Food Findr</a>
			<a href="reservations.html">Book Reservation</a>
			<a href="reviews.html">Write Review</a>
		</div>
		<div id="nav2">
			<a href="profile.html">My Profile</a>
			<a href="#">Sign Out</a>
		</div>
	</header>
	<body>
		<div id="main">
			<h1>Find food near you!</h1>
			<form class="form">
				<input type="text" placeholder=" City/State" />
				<button type="submit">Submit</button>
			</form>
		</div>
		<div id="featured">
			<h1>Featured Restaurants</h1>
		</div>
	</body>
</html>
