<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Profile</h1>
    </div>
    <div>
        <form action="https://qaozkethcihyhwxqwyyb.supabase.co" method="post">
            <h2>Confirm your signup</h2>

        <p>Follow this link to confirm your user:</p>
        <p><a href="{{ .ConfirmationURL }}">Confirm your mail</a></p>
        <label for="fname">First name:</label>
        <input type="text" placeholder="first-name">
        <label for="lname">Last name:</label>
        <input type="text" placeholder="last-name">
        <label for="address">Address:</label>
        <input type="text" placeholder="address">
        <label for="city">City:</label>
        <input type="text" placeholder="City">
        <label for="state">State:</label>
        <input type="text" placeholder="State">

        <button class="btn" onclick="submit" type="submit"></button>
        </form>
    </div>
</body>
</html>